services:
  db:
    image: mysql:latest
    networks:
      - fr-mirror-bridge
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}

  wordpress:
    depends_on:
      - db
    image: fr-mirror:latest
    networks:
      - fr-mirror-bridge
    ports:
      - "${WEB_PORT}:80"
    extra_hosts:
      - "api.wordpress.org:198.143.164.251"
      - "downloads.wordpress.org:198.143.164.250"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DEBUG: "1" # A non-empty value enables WP_DEBUG in wp-config.php
    volumes:
      - type: bind
        source: "./WordPress/wp-content/"
        target: "/var/www/html/wp-content/"
      - type: bind
        source: "./wordpress.ini"
        target: "/usr/local/etc/php/conf.d/wordpress.ini"
      - type: bind
        source: "./wp-config.php"
        target: "/var/www/html/wp-config.php"

  my-wpcli:
    image: wordpress:cli
    networks:
      - fr-mirror-bridge
    volumes_from:
      - wordpress
    links:
      - db:mysql
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
    entrypoint: /bin/sh
    tty: true

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    networks:
      - fr-mirror-bridge
    ports:
      - "${PHP_MYADMIN_PORT}:80"  # You can change the first number (8080) to any port you prefer for accessing phpMyAdmin
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db

  mirror-ai:
    image: fr-mirror-ai
    container_name: mirror-ai
    restart: unless-stopped
    networks:
      - fr-mirror-bridge
    ports:
      - "${API_PORT}:80"  # Assuming the container exposes port 8080 internally
    volumes:
      - .:/code
      - ~/.ssh:/root/.ssh:ro
    env_file:
      - .env
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "80", "--reload"]

volumes:
  db_data: {}
  

networks:
  fr-mirror-bridge:
    driver: bridge